@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

body {
  font-family: Helvetica, 'Open Sans', sans-serif;
  margin: 0;
}

#mapid { 
	height: 60vh;
  width: 100%;
  border-bottom: 10px solid black;
}

#chart {
  height: 300px;
  width: 600px;
  position: absolute;
  float: right;
  margin-top: -150px;

}

.info {
  height: 30vh;
  padding: 2vw;
  position: relative;
}

.info__count {
  margin-top: 10px;
  font-weight: 600;
  font-size: 36px;
}

.info__subtitle {
  margin-top: 10px;
  font-weight: 600;
  font-size: 24px;
}

.info__stats {
  margin-top: 50px;
}

.onstreet { 
  font-size: 18px;
}

form {
  display: inline;
}

input {
  border: none;
  outline: none;
  font-size: 24px;
  font-weight: 600;
  border-bottom: 5px solid black;
}

#km {
  margin-left: 2px;
  margin-right: 5px;
  max-width: 70px;
}

#postcode {
  margin-left: 10px;
  max-width: 120px;
}

.button {
  font-size: 24px;
  background-color: black;
  color: white;
  width: 150px;
  text-align: center;
  padding: 6px 0px;
  position: absolute;
  bottom: 10px;
}

.button:hover {
  background-color: blue;
  cursor: pointer;
}
